* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.all-countries {
  text-align: center;
}

.searbar {
  padding: 100px;
  background-image: url('https://mapsvg.com/static/maps/geo-calibrated/world.svg');
}

.country-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.country {
  padding: 20px;
  list-style-type: none;
  background-color: #ec4c8a;
  color: rgba(255, 255, 255, 0.866);
}

.country:hover {
  cursor: pointer;
  background-color: #ec4c89e2;
}

.country:nth-child(odd) {
  background-color: #ce4176;
}

.country:nth-child(odd):hover {
  background-color: #ce4177e8;
}

.back-img {
  border-radius: 50%;
  float: right;
}

@media only screen and (max-width: 990px) {
  .country-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
  }

  .country-image > img {
    width: 70px;
  }
}
